/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 &i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; 
	
	bme680: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		label = "BME680";
	};
};


